@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<li>Genre: @Model.Genre.Name</li>
<li>Release date: @Model.ReleaseDate.ToString("yyyy-MM-dd")</li>
<li>Date added: @Model.DateAdded.ToString("yyyy-MM-dd")</li>
<li>Numer in Stock: @Model.NumberInStock</li>

